.DS_Store
.ipynb_checkpoints/
__pycache__/
gmaps/classified_images/lawn/*
!gmaps/classified_images/lawn/README.md
gmaps/classified_images/no_lawn/*
!gmaps/classified_images/no_lawn/README.md
gmaps/source_images/*
!gmaps/source_images/README.md
