.DS_Store
.ipynb_checkpoints/
__pycache__/
gmaps_data/classified_images/lawn/*
!gmaps_data/classified_images/lawn/README.md
gmaps_data/classified_images/no_lawn/*
!gmaps_data/classified_images/no_lawn/README.md
gmaps_data/source_images/*
!gmaps_data/source_images/README.md
